.menu__link{
text-decoration: none;
text-transform: uppercase;
font-style: normal;
font-family: 'Quattrocento',sans-serif;
font-weight: normal;
font-size: 18px;
line-height: 26px;
color: #3E4255;






    
}
